<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>TDBI 2016</title>

<!-- Bootstrap -->
<link href="../css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<center>
		<h1>Utvärdering Tech Day By Init 2016</h1>
	</center>

	<h4>Hur höga förväntningar hade du på TDBI?</h4>
	<div class="btn-group" data-toggle="buttons">
		<label class="btn btn-primary active"> <input type="radio"
			name="options" id="option1" autocomplete="off" checked> 1
		</label> <label class="btn btn-primary"> <input type="radio"
			name="options" id="option2" autocomplete="off"> 2
		</label> <label class="btn btn-primary"> <input type="radio"
			name="options" id="option3" autocomplete="off"> 3
		</label> <label class="btn btn-primary"> <input type="radio"
			name="options" id="option4" autocomplete="off"> 4
		</label> <label class="btn btn-primary"> <input type="radio"
			name="options" id="option5" autocomplete="off"> 5
		</label> <label class="btn btn-primary"> <input type="radio"
			name="options" id="option6" autocomplete="off"> 6
		</label>
	</div>
	<div>
		<label for="formGroupExampleInput">Kommentar</label> <input
			type="text" class="form-control" id="formGroupExampleInput"
			placeholder="Example input">
	</div>

	<div class="form-group">
		<label for="formGroupExampleInput">Övriga kommentarer</label> <input
			type="text" class="form-control" id="formGroupExampleInput"
			placeholder="Example input">
	</div>

	<button type="submit" class="btn btn-primary">Skicka in</button>

	<!--  -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>